<% @title = @showtime.movie.title %>
<% @start_time = @showtime.start_time %>
<% @availability = @showtime.availability %>
<% @min = 1 %>
<% @months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'] %>
<% @year = Date.today.strftime("%y").to_i %>
<% @years = (@year...@year+11).to_a %>
<% @child_ticket = TicketType.find_by category: 'child' %>
<% @adult_ticket = TicketType.find_by category: 'adult' %>
<% @senior_ticket = TicketType.find_by category: 'senior'%>

<h1>Purchase ticket</h1>
<div>Movie title: <%= @title %></div>
<div>Time: <%= @start_time %></div>

<%= form_with(model: @order, local:true) do |form| %>
<%= form.hidden_field :showtime_id, value: @showtime.id %>

   <% if @order.errors.any? %>
      <ul>
        <% @order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
  <% end %>

  <div>Ticket Quantity</div>

   <%= form.label :child %>
   <%= form.number_field :child, min: 0 %>
   <%= @child_ticket.price %>

   <%= form.label :adult %>
   <%= form.number_field :adult, min: 0 %>
   <%= @adult_ticket.price %>

  <%= form.label :senior %>
  <%= form.number_field :senior, min: 0 %>
  <%= @senior_ticket.price %>

  <%= form.label :first_name %>
  <%= form.text_field :first_name %>

  <%= form.label :last_name %>
  <%= form.text_field :last_name %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :credit_card_number %>
  <%= form.text_field :credit_card_number %>

  <div>Expiration Date</div>
  <%= form.label :month %>
  <%= form.select :expiration_month, @months, :prompt => 'MM' %>

  <%= form.label :year %>
  <%= form.select :expiration_year, @years, :prompt => 'YY' %>


  <%= form.submit "Submit" %>
<% end %>