<% @title = @showtime.movie.title %>
<% @start_time = @showtime.start_time %>
<% @availability = @showtime.availability %>
<% @min = 1 %>

<h1>Purchase ticket</h1>
<div>Movie title: <%= @title %></div>
<div>Time: <%= @start_time %></div>

<%= form_with(model: @order, local:true) do |form| %>
   <% if @order.errors.any? %>
      <ul>
        <% @order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
  <% end %>

  <%= form.label :quantity %>
  <%= form.number_field :quantity, in: "#{@min}".."#{@availability}" %>

  <%= form.label :first_name %>
  <%= form.text_field :first_name %>

  <%= form.label :last_name %>
  <%= form.text_field :last_name %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :credit_card %>
  <%= form.text_field :credit_card %>

  <%= form.label :expiration_date %>
  <%= form.month_field :expiration_date %>

  <%= form.submit "Submit" %>
<% end %>