<h1>Purchase ticket</h1>
<div>Movie title: <%= @showtime.movie.title %></div>
<div>Time: <%= @showtime.start_time %></div>

<%= form_with(model: @order, local:true) do |form| %>
   <% if @order.errors.any? %>
      <ul>
        <% @order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
  <% end %>

  <%= form.label :first_name %>
  <%= form.text_field :first_name %>

  <%= form.label :last_name %>
  <%= form.text_field :last_name %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :credit_card %>
  <%= form.text_field :credit_card %>

  <%= form.label :expiration_month %>
  <%= form.text_field :expiration_year %>

  <%= form.submit "Submit" %>
<% end %>